Repository andrewbolster/bolster: changes, and which pre-commit hooks are due for each by the changed paths.
All: constitutional-logging-check, constitutional-validation-check, constitutional-http-check

constitutional-logging-check:
  name: Check for proper logging setup
  entry: python
  language: python
  args:
  - -c
  ...

constitutional-validation-check:
  name: Check for validation functions
  entry: python
  language: python
  args:
  - -c
  ...

constitutional-http-check:
  name: Check for proper HTTP usage
  entry: python
  language: python
  args:
  - -c
  ...

docs: Convert CLI docstrings from Click to RST format
  .importlinter
  .pre-commit-config.yaml
  docs/conf.py
  notebooks/CineworldCinemaListings.ipynb
  notebooks/metoffice.ipynb
  notebooks/test_niwater.ipynb
  notebooks/trafficwatch.ipynb
  pyproject.toml
  src/bolster/__init__.py
  src/bolster/cli.py
  src/bolster/data_sources/__init__.py
  src/bolster/data_sources/cineworld.py
  src/bolster/data_sources/companies_house.py
  src/bolster/data_sources/dva.py
  src/bolster/data_sources/eoni.py
  src/bolster/data_sources/metoffice.py
  src/bolster/data_sources/ni_house_price_index.py
  src/bolster/data_sources/ni_water.py
  src/bolster/data_sources/nisra/__init__.py
  src/bolster/data_sources/nisra/labour_market.py
  src/bolster/data_sources/wikipedia.py
  src/bolster/exceptions.py
  src/bolster/stats/__init__.py
  src/bolster/stats/distributions.py
  src/bolster/utils/__init__.py
  src/bolster/utils/aws/__init__.py.bak
  src/bolster/utils/azure/__init__.py
  src/bolster/utils/web.py
  tests/test_companies_house.py
  tests/test_core_utilities.py
  uv.lock
Due: constitutional-logging-check, constitutional-validation-check, constitutional-http-check

feat: improve test coverage for utils modules
  coverage.json
  tests/test_ni_water.py
  tests/test_utils_io.py
  tests/test_web_retry_behavior.py
Due: none

feat: exclude CLI module from test coverage requirements
  pyproject.toml
Due: none

feat: achieve 100% test coverage for nisra/_base.py shared utilities
  tests/test_nisra_base.py
Due: none

feat: achieve 100% test coverage for utils/cache.py
  coverage.json
  tests/test_utils_cache.py
Due: none

Improve test coverage to meet 80% quality gate threshold (#1682)
  coverage.json
  pyproject.toml
  tests/test_ni_water.py
  tests/test_nisra_base.py
  tests/test_utils_cache.py
  tests/test_utils_io.py
  tests/test_web_retry_behavior.py
Due: none

feat(nisra): add cross-validation tests and population_projections export
  README.md
  src/bolster/data_sources/nisra/__init__.py
  tests/test_nisra_migration_official_integrity.py
  tests/test_nisra_population_projections_integrity.py
Due: constitutional-logging-check, constitutional-validation-check, constitutional-http-check

fix(security): bump vulnerable dependencies and drop EOL Python 3.9
  .github/workflows/pytest.yml
  pyproject.toml
  uv.lock
Due: none

fix(security): bump vulnerable dependencies and drop EOL Python 3.9 (#1719)
  .github/workflows/pytest.yml
  pyproject.toml
  uv.lock
Due: none

feat: add GitHub Spec Kit for specification-driven development (#1675)
  specs/001-nisra-migration-projections/checklists/requirements.md
  specs/001-nisra-migration-projections/contracts/README.md
  specs/001-nisra-migration-projections/data-model.md
  specs/001-nisra-migration-projections/plan.md
  specs/001-nisra-migration-projections/quickstart.md
  specs/001-nisra-migration-projections/research.md
  specs/001-nisra-migration-projections/spec.md
  specs/001-nisra-migration-projections/tasks.md
  src/bolster/data_sources/nisra/__init__.py
  src/bolster/data_sources/nisra/migration.py
  src/bolster/data_sources/nisra/population_projections.py
  tests/test_nisra_migration_official_integrity.py
  tests/test_nisra_population_projections_integrity.py
Due: constitutional-logging-check, constitutional-validation-check, constitutional-http-check

style: fix B904 raise-from-e and apply ruff-format to new modules
  src/bolster/data_sources/nisra/migration.py
  src/bolster/data_sources/nisra/population_projections.py
Due: constitutional-logging-check, constitutional-validation-check, constitutional-http-check

feat(nisra): add official migration statistics and population projections (#1685)
  README.md
  specs/001-nisra-migration-projections/checklists/requirements.md
  specs/001-nisra-migration-projections/contracts/README.md
  specs/001-nisra-migration-projections/data-model.md
  specs/001-nisra-migration-projections/plan.md
  specs/001-nisra-migration-projections/quickstart.md
  specs/001-nisra-migration-projections/research.md
  specs/001-nisra-migration-projections/spec.md
  specs/001-nisra-migration-projections/tasks.md
  src/bolster/data_sources/nisra/__init__.py
  src/bolster/data_sources/nisra/migration.py
  src/bolster/data_sources/nisra/population_projections.py
  tests/test_nisra_migration_official_integrity.py
  tests/test_nisra_population_projections_integrity.py
Due: constitutional-logging-check, constitutional-validation-check, constitutional-http-check

style: modernise type annotations to Python 3.10+ union syntax
  src/bolster/__init__.py
  src/bolster/data_sources/companies_house.py
  src/bolster/data_sources/dva.py
  src/bolster/data_sources/eoni.py
  src/bolster/data_sources/metoffice.py
  src/bolster/data_sources/ni_house_price_index.py
  src/bolster/data_sources/ni_water.py
  src/bolster/data_sources/nisra/_base.py
  src/bolster/data_sources/nisra/ashe.py
  src/bolster/data_sources/nisra/births.py
  src/bolster/data_sources/nisra/cancer_waiting_times.py
  src/bolster/data_sources/nisra/composite_index.py
  src/bolster/data_sources/nisra/construction_output.py
  src/bolster/data_sources/nisra/deaths.py
  src/bolster/data_sources/nisra/economic_indicators.py
  src/bolster/data_sources/nisra/labour_market.py
  src/bolster/data_sources/nisra/marriages.py
  src/bolster/data_sources/nisra/population.py
  src/bolster/data_sources/nisra/registrar_general.py
  src/bolster/data_sources/nisra/tourism/occupancy.py
  src/bolster/data_sources/nisra/tourism/visitor_statistics.py
  src/bolster/data_sources/nisra/wellbeing.py
  src/bolster/data_sources/psni/_base.py
  src/bolster/data_sources/psni/crime_statistics.py
  src/bolster/data_sources/psni/road_traffic_collisions.py
  src/bolster/stats/__init__.py
  src/bolster/utils/__init__.py
  src/bolster/utils/aws/__init__.py
  src/bolster/utils/cache.py
  src/bolster/utils/dt.py
  src/bolster/utils/io.py
  src/bolster/utils/rss.py
  src/bolster/utils/web.py
Due: constitutional-logging-check, constitutional-validation-check, constitutional-http-check

test(nisra): skip cancer_waiting_times tests broken by upstream schema change
  tests/test_nisra_cancer_waiting_times_integrity.py
Due: none

style: modernise type annotations to Python 3.10+ union syntax (#1723)
  src/bolster/__init__.py
  src/bolster/data_sources/companies_house.py
  src/bolster/data_sources/dva.py
  src/bolster/data_sources/eoni.py
  src/bolster/data_sources/metoffice.py
  src/bolster/data_sources/ni_house_price_index.py
  src/bolster/data_sources/ni_water.py
  src/bolster/data_sources/nisra/_base.py
  src/bolster/data_sources/nisra/ashe.py
  src/bolster/data_sources/nisra/births.py
  src/bolster/data_sources/nisra/cancer_waiting_times.py
  src/bolster/data_sources/nisra/composite_index.py
  src/bolster/data_sources/nisra/construction_output.py
  src/bolster/data_sources/nisra/deaths.py
  src/bolster/data_sources/nisra/economic_indicators.py
  src/bolster/data_sources/nisra/labour_market.py
  src/bolster/data_sources/nisra/marriages.py
  src/bolster/data_sources/nisra/population.py
  src/bolster/data_sources/nisra/registrar_general.py
  src/bolster/data_sources/nisra/tourism/occupancy.py
  src/bolster/data_sources/nisra/tourism/visitor_statistics.py
  src/bolster/data_sources/nisra/wellbeing.py
  src/bolster/data_sources/psni/_base.py
  src/bolster/data_sources/psni/crime_statistics.py
  src/bolster/data_sources/psni/road_traffic_collisions.py
  src/bolster/stats/__init__.py
  src/bolster/utils/__init__.py
  src/bolster/utils/aws/__init__.py
  src/bolster/utils/cache.py
  src/bolster/utils/dt.py
  src/bolster/utils/io.py
  src/bolster/utils/rss.py
  src/bolster/utils/web.py
  tests/test_nisra_cancer_waiting_times_integrity.py
Due: constitutional-logging-check, constitutional-validation-check, constitutional-http-check

fix(nisra): update cancer_waiting_times parser for Q3 2025-26 schema change
  src/bolster/data_sources/nisra/cancer_waiting_times.py
  tests/test_nisra_cancer_waiting_times_integrity.py
Due: constitutional-logging-check, constitutional-validation-check, constitutional-http-check

fix(nisra): update cancer_waiting_times parser for Q3 2025-26 schema change (#1725)
  src/bolster/data_sources/nisra/cancer_waiting_times.py
  tests/test_nisra_cancer_waiting_times_integrity.py
Due: constitutional-logging-check, constitutional-validation-check, constitutional-http-check

ci: disable uv cache in auto-release analyze-changes job
  .github/workflows/auto-release.yml
Due: none

ci: disable uv cache in auto-release analyze-changes job (#1726)
  .github/workflows/auto-release.yml
Due: none

feat(nisra): add emergency care waiting times module with DataTables utility
  src/bolster/cli.py
  src/bolster/data_sources/nisra/__init__.py
  src/bolster/data_sources/nisra/emergency_care_waiting_times.py
  src/bolster/utils/datatables.py
  tests/test_nisra_emergency_care_waiting_times_integrity.py
  tests/test_utils_datatables.py
Due: constitutional-logging-check, constitutional-validation-check, constitutional-http-check

fix(emergency-care): normalise pct by column name not value magnitude
  src/bolster/data_sources/nisra/emergency_care_waiting_times.py
Due: constitutional-logging-check, constitutional-validation-check, constitutional-http-check

feat(nisra): add emergency care waiting times module with DataTables utility (#1728)
  src/bolster/cli.py
  src/bolster/data_sources/nisra/__init__.py
  src/bolster/data_sources/nisra/emergency_care_waiting_times.py
  src/bolster/utils/datatables.py
  tests/test_nisra_emergency_care_waiting_times_integrity.py
  tests/test_utils_datatables.py
Due: constitutional-logging-check, constitutional-validation-check, constitutional-http-check

test(rss): add pagination coverage and fix limit slicing for first page
  src/bolster/utils/rss.py
  tests/test_rss.py
Due: constitutional-http-check

fix(cli): support --limit > 20 in nisra feed by paginating GOV.UK Atom feed
  src/bolster/cli.py
  src/bolster/utils/rss.py
Due: constitutional-http-check

fix(cli): support --limit > 20 in nisra feed via GOV.UK pagination (#1727)
  src/bolster/cli.py
  src/bolster/utils/rss.py
  tests/test_rss.py
Due: constitutional-http-check

fix(deps): bump cryptography to 47.0.0, pygments to 2.20.0
  uv.lock
Due: none

fix(deps): bump cryptography to 47.0.0, pygments to 2.20.0 (#1729)
  uv.lock
Due: none

feat: weekly NISRA feed drift detection via TF-IDF
  .github/workflows/nisra-feed-drift.yml
  scripts/nisra_feed_tfidf.py
Due: none

fix(drift-detection): robust issue deduplication by dataset species name
  .github/workflows/nisra-feed-drift.yml
Due: none

feat: weekly NISRA feed drift detection via TF-IDF (#1732)
  .github/workflows/nisra-feed-drift.yml
  scripts/nisra_feed_tfidf.py
Due: none

fix(drift-detection): bump artifact actions to Node.js 24, fix speciesName trailing punctuation
  .github/workflows/nisra-feed-drift.yml
Due: none

fix(web): add tqdm progress bar to download_extract_zip (#314)
  src/bolster/utils/web.py
Due: constitutional-http-check

docs(claude): require all changes go through PRs, never direct to main
  CLAUDE.md
Due: none

chore(docs): CNAME for bolster.help github pages redirect
  CNAME
Due: none

fix(release): use bump-my-version show to extract version after bump
  .github/workflows/auto-release.yml
Due: none

Path conditions:
  constitutional-logging-check: any of: ^src/bolster/data_sources/.*\.py$
  constitutional-validation-check: any of: ^src/bolster/data_sources/.*\.py$
  constitutional-http-check: any of: ^src/bolster/.*\.py$
